<h1>{{ title }}</h1>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="0.1"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()"
>
  <div
    *ngFor="let itemGroup of similarItemGroups.slice(0, this.endIndex)"
    [ngStyle]="
      itemGroup.length === 0
        ? { visibility: 'hidden' }
        : { visibility: 'visible' }
    "
  >
    <!-- <h2 class="group-header">ItemGroup</h2> -->
    <div class="item-group">
      <mat-grid-list cols="3" rowHeight="4:3">
        <div *ngFor="let imgItem of itemGroup">
          <mat-grid-tile>
            <app-image-item
              imgSrc="{{ imgItem.imagePath }}"
              (btnClick)="deleteImage(itemGroup, imgItem)"
            ></app-image-item>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
  </div>
</div>
