.body{
  background-color: whitesmoke;
}

.item-group {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(211, 204, 204);
  margin: 15px;

}
.group-header {
  margin-left: 10px;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 500;
  font-size: 1.375rem;
  display: inline;
  color: rgb(60,64,67)
}
